<div class="login-design">
  <div class="waves">
    <img src="/assets/img/jedi.png" alt="Login Person" />
  </div>
  <div class="login">
    <div class="login-data coinLogin">
      <h1 class="mundoMonedas">Mundo Monedas</h1>
      <h1>Inicio de Sesión</h1>
      <form (ngSubmit)="login()" class="login-form">
        <div class="input-group">
          <label class="input-fill">
            <input type="email" [(ngModel)]="username" name="email" id="email" required />
            <label for="email" class="block text-sm/6 font-medium text-gray-900">Email address</label>
            <i class="fas fa-envelope"></i>
          </label>
        </div>
        <div class="input-group">
          <label class="input-fill">
            <input type="password" [(ngModel)]="password" name="password" id="password" required />
            <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
            <i class="fas fa-lock"></i>
          </label>
        </div>
        <input type="submit" value="Iniciar Sesión" class="btn-login" />
      </form>
      <div *ngIf="loginError" class="error-message">
        Usuario o contraseña incorrectos.
      </div>
    </div>
  </div>
</div>